@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*--------------------------------*/
body {
  font-family: 'DungGeunMo';
  padding: 1rem;
  line-height: 1.6;
  background-color: rgb(234, 234, 234);
}
a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: rgb(100, 63, 222);
}

/* visited link */
a:visited {
  color: rgb(79, 36, 222);
}

/* mouse over link */
a:hover {
  color: rgb(70, 218, 161);
}

/* selected link */
a:active {
  color: rgb(174, 174, 174)
}
/*--------------------------------*/
.contentWrapper{
  text-align: center;
}
.singlePageContainer{
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.singlePostContainer{
  width: 90%;
  padding: 0.8rem;
  margin-left: 1rem;
  text-align: left;
}

.singlePostContainer img {
  text-align: center;
  width: 100%;
}
.singlePageTopBottom{
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}
/*--------------------------------*/
.categories{
  width: 50%;
  display: inline-block;
  text-align: left;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.headerTitle {
  font-size: 1rem;
  text-align: center;
  padding: 0.8rem;
}
.homepageContent {
  text-align: center;
}

/*--------------------------------*/

@media (max-width: 1000px) {
  .singlePageContainer{
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    padding: 0.7rem;
    width: 95%;
  }
  .singlePostContainer{
    margin-left: 0rem;
  }
  .singlePostContainer pre{
    overflow: scroll;
  }
  .categories{
    width: 90%;
    display: inline-block;
    text-align: left;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    padding: 1rem;
  }
}